@font-face {
    font-family: "NippoBold";
    src: url("../../../assets/fonts/nippo-font/Fonts/WEB/fonts/Nippo-Bold.ttf");
}

.Section3 {
    height: 884px;
    border: 1px solid;
    margin-top: 43px;
    margin-left: 66px;
    background: linear-gradient(90deg, rgba(210, 70, 158, 0.3) 0.78%, rgba(75, 213, 207, 0.3) 100.02%);
    mix-blend-mode: normal;
    border-radius: 10.5208px;
}

.Section3-navbar {
    width: 90%;
    margin: 20px auto 0;
    display: flex;
    background: linear-gradient(90deg, rgba(210, 70, 158, 0.2) 0.78%, rgba(75, 213, 207, 0.2) 100.02%);
    align-items: center;
}

.Section3-navbar img {
    margin: 26px 22px 26px 55px;
}

.Section3-navbar h1 {
    font-family: 'Nippobold';
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 1.95386px;
    color: #FFFFFF;
    opacity: 0.9;
}

.Section3-navbar p {
    margin-top: 9px;
    margin-left: 17px;
    font-family: 'Nippobold';
    font-weight: 700;
    font-size: 27px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.4;
}

.range {
    width: 95%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.img-range {
    position: relative;
    width: 70%;
    height: 2px;
    background: linear-gradient(90deg, #4BD5CF 0.78%, #D2469E 100.02%);
    z-index: 0;
}

.img-range::after {
    top: -22px;
    right: -55px;
    position: absolute;
    content: '12';
    font-family: 'Nippo';
    font-size: 33px;
    letter-spacing: 6px;
    color: #FFFFFF;
    opacity: 0.6;
}

.img-range::before {
    top: -22px;
    left: -30px;
    position: absolute;
    content: '0';
    font-family: 'Nippo';
    font-size: 33px;
    letter-spacing: 6px;
    color: #FFFFFF;
    opacity: 0.6;
}

.range-number p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 16px;
    background: #fa0089;
    opacity: 1;
    box-shadow: 0px 0px 105.208px #E33093;
    border-radius: 10.5208px;
    top: -22px;
    right: 105px;
    position: absolute;
    font-family: 'Nippobold';
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 6.31246px;
    color: #FFFFFF;
    z-index: 1;
}

.btn-upg {
    padding: 10px 21px;
    background: linear-gradient(101.44deg, #19E1F2 14.32%, #6CE7DD 98.22%);
    border-radius: 10.5208px;
    font-family: 'NippoBold';
    font-style: bold;
    font-weight: 700;
    font-size: 28.5712px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.05208px;
    color: #1A224B;
    border: none;
    outline: none;
}

.Section3-blocks {
    display: flex;
    width: 25%;
}

.Section3-blocks-cars{
    width: 40%;
}

.Section3-box{
    width: 100%;
}

.Section3-block-items {
    margin-top: 65px;
    padding: 0 88px;
    display: flex;
    justify-content: space-between;
}

.Section3-items {
    padding: 1px 0;
    height: 281.96px;
    background: linear-gradient(90deg, rgba(210, 70, 158, 0.2) 0.78%, rgba(75, 213, 207, 0.2) 100.02%);
    mix-blend-mode: normal;
    border-radius: 10.5208px;
    margin: 0 auto;
    text-align: center;
}

.Section3-items:nth-child(2) {
    margin-top: 75px;
}


.Section3-items h2 {
    font-family: 'NippoBold';
    font-style: normal;
    font-weight: 700;
    font-size: 27.354px;
    line-height: 32px;
    letter-spacing: 1.95386px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 50px;


}

.section-p p {
    margin-top: 27px;
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 300;
    font-size: 100.999px;
    line-height: 84px;
    color: #FFFFFF;
    text-align: left;
    margin: 40px 0 20px 30px;
}

.section-p p span {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 300;
    font-size: 29.4581px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrows {
    margin-top: 55px;
}

.down {
    margin-top: 21px;
}

.phone {
    text-align: left;
    margin: 48px 0 33px 47px;
}

.switch {
    padding: 0 0 0 47px;
    align-items: center;
    width: 90%;
    display: flex;

}

.switch p {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 700;
    font-size: 29.4581px;
    line-height: 67px;
    letter-spacing: 1.13301px;
    color: #FFFFFF;
    opacity: 0.9;
}

.switch img {
    width: 54.71px;
}

.Section3-items-battery {
    padding: 1px 0;
    height: 281.96px;
    background: linear-gradient(90deg, rgba(210, 70, 158, 0.2) 0.78%, rgba(75, 213, 207, 0.2) 100.02%);
    mix-blend-mode: normal;
    border-radius: 10.5208px;
    margin: 0 auto;
    text-align: center;
}

.Section3-items-battery h2 {
    font-family: 'NippoBold';
    font-weight: 700;
    font-size: 27.354px;
    line-height: 32px;
    letter-spacing: 1.95386px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.sections-batery {
    padding: 0 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.section-p-batery h3 {
    display: flex;
    font-size: 54px;
    font-family: 'Nippo';
    line-height: 55px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
}

.section-p-batery h3:nth-child(2) {
    margin-top: 14px;
}

.section-p-batery h3 span {
    margin: 5px 0 0 8px;
    font-size: 29px;
    font-family: 'Nippo';
    line-height: 29px;
    color: #FFFFFF;
}

.trip-trip {
    display: flex;
    padding: 0 49px;
    justify-content: space-between;
}

.trip-trip p {
    display: flex;
    align-items: center;
    font-size: 54px;
    font-family: 'Nippo';
    line-height: 55px;
    letter-spacing: 1.8;
    color: #FFFFFF;
}

.trip-trip p:nth-child(2) {
    margin-top: 22px;
}

.trip-trip p span {
    margin: -15px 0 0 9px;
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 300;
    font-size: 29.4581px;
    line-height: 29px;
    color: #FFFFFF;
}

.trip-img {
    margin-top: 75px;
}

@media only screen and (max-width: 2900px){
    .Section3-blocks-cars img{
        width: 330px;
        margin-top: 70px;
    }
    
    .Section3-items h2{
        font-size: 13px;
    }

    .section-p p{
        font-size: 50px;
    }
}

@media only screen and (max-width: 2700px) {
    .section-p-batery h3{
        font-size: 25px;
    }

    .switch img{
        width: 30px;
    }

    .trip-trip p{
        font-size: 25px;
    }
}

@media only screen and (max-width: 2100px) {
    .Section3-blocks {
        width: 35%;
    }
    
    .Section3-blocks-cars{
        width: 20%;
    }
}

@media only screen and (max-width: 1700px) {
    .Section3-blocks {
        width: 45%;
    }
    
    .Section3-blocks-cars{
        width: 10%;
    }
}