@font-face {
  font-family: "NippoBold";
  src: url("../../../assets/fonts/nippo-font/Fonts/WEB/fonts/Nippo-Bold.ttf");
}

.Section3 {
  height: 100%;
  border: 1px solid;
  background: linear-gradient(
    90deg,
    rgba(210, 70, 158, 0.3) 0.78%,
    rgba(75, 213, 207, 0.3) 100.02%
  );
  mix-blend-mode: normal;
  border-radius: 10.5208px;
}

.Section3-blocks {
  display: flex;
  width: 25%;
}

.Section3-blocks-cars {
  width: 40%;
}

.Section3-box {
  width: 100%;
}

.section_block_items {
  width: 90%;
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
}

.section_block_items_one,
.section_block_items_three {
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 75px;
  justify-content: space-between;
}

.section_block_items_two {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Section3-items {
  padding: 1px 0;
  height: 281.96px;
  background: linear-gradient(
    90deg,
    rgba(210, 70, 158, 0.2) 0.78%,
    rgba(75, 213, 207, 0.2) 100.02%
  );
  mix-blend-mode: normal;
  border-radius: 10.5208px;
  margin: 0 auto;
  text-align: center;
}

.Section3-items:nth-child(2) {
  margin-top: 75px;
}

.Section3-items h2 {
  font-family: "NippoBold";
  font-style: normal;
  font-weight: 700;
  font-size: 27.354px;
  line-height: 32px;
  letter-spacing: 1.95386px;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-top: 50px;
}

.section-p p {
  margin-top: 27px;
  font-family: "Nippo";
  font-style: normal;
  font-weight: 300;
  font-size: 100.999px;
  line-height: 84px;
  color: #ffffff;
  text-align: left;
  margin: 40px 0 20px 30px;
}

.section-p p span {
  font-family: "Nippo";
  font-style: normal;
  font-weight: 300;
  font-size: 29.4581px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrows {
  margin-top: 55px;
}

.down {
  margin-top: 21px;
}

.phone {
  text-align: left;
  margin: 48px 0 33px 47px;
}

.switch {
  padding: 0 0 0 47px;
  align-items: center;
  width: 90%;
  display: flex;
}

.switch p {
  font-family: "Nippo";
  font-style: normal;
  font-weight: 700;
  font-size: 29.4581px;
  line-height: 67px;
  letter-spacing: 1.13301px;
  color: #ffffff;
  opacity: 0.9;
}

.switch img {
  width: 54.71px;
}

.Section3-items-battery {
  padding: 1px 0;
  height: 281.96px;
  background: linear-gradient(
    90deg,
    rgba(210, 70, 158, 0.2) 0.78%,
    rgba(75, 213, 207, 0.2) 100.02%
  );
  mix-blend-mode: normal;
  border-radius: 10.5208px;
  margin: 0 auto;
  text-align: center;
}

.Section3-items-battery h2 {
  font-family: "NippoBold";
  font-weight: 700;
  font-size: 27.354px;
  line-height: 32px;
  letter-spacing: 1.95386px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.sections-batery {
  padding: 0 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.section-p-batery h3 {
  display: flex;
  font-size: 54px;
  font-family: "Nippo";
  line-height: 55px;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.section-p-batery h3:nth-child(2) {
  margin-top: 14px;
}

.section-p-batery h3 span {
  margin: 5px 0 0 8px;
  font-size: 29px;
  font-family: "Nippo";
  line-height: 29px;
  color: #ffffff;
}

.trip-trip {
  display: flex;
  padding: 0 49px;
  justify-content: space-between;
}

.trip-trip p {
  display: flex;
  align-items: center;
  font-size: 54px;
  font-family: "Nippo";
  line-height: 55px;
  letter-spacing: 1.8;
  color: #ffffff;
}

.trip-trip p:nth-child(2) {
  margin-top: 22px;
}

.trip-trip p span {
  margin: -15px 0 0 9px;
  font-family: "Nippo";
  font-style: normal;
  font-weight: 300;
  font-size: 29.4581px;
  line-height: 29px;
  color: #ffffff;
}

.trip-img {
  margin-top: 75px;
}

@media only screen and (max-width: 2900px) {
  .Section3-blocks-cars img {
    width: 330px;
    margin-top: 70px;
  }

  .Section3-items h2 {
    font-size: 13px;
  }

  .section-p p {
    font-size: 50px;
  }
}

@media only screen and (max-width: 2700px) {
  .section-p-batery h3 {
    font-size: 25px;
  }

  .switch img {
    width: 30px;
  }

  .trip-trip p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 2100px) {
  .Section3-blocks {
    width: 35%;
  }

  .Section3-blocks-cars {
    width: 20%;
  }
}

@media only screen and (max-width: 1700px) {
  .Section3-blocks {
    width: 45%;
  }

  .Section3-blocks-cars {
    width: 10%;
  }
}

/* _______________________New */

@media only screen and (max-width: 2560px) {
  .section_block_items_one,
  .section_block_items_three {
    grid-row-gap: 51px;
  }

  .section_block_items_two img {
    width: 50%;
  }

  .section_block_items {
    margin: 40px auto 0;
  }
}

@media only screen and (max-width: 1920px) {
    .section_block_items_one,
    .section_block_items_three {
        grid-row-gap: 18px;
    }

    .section_block_items {
        margin: 20px auto 0;
      }
}