.Footer {
    max-width: 3240px;
    margin: 0 auto;
    width: 100%;
    padding: 150px 0;
}

.Footer h2 {
    color: #fff;
    font-size: 30.5438px;
    line-height: 107%;
    text-align: center;
    letter-spacing: 5.72697px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 40px;
}



