.Section2 {
    width: 100%;
}

.Section2-container {
    width: 90%;
}

.Section2 h2 {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 300;
    font-size: 30.5438px;
    line-height: 41px;
    letter-spacing: 3.81798px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 36px;
}

.Section2-item1 {
    width: 771.64px;
    height: 422.38px;
    background: linear-gradient(90deg, rgba(210, 70, 158, 0.2) 0.78%, rgba(75, 213, 207, 0.2) 100.02%);
    mix-blend-mode: normal;
    margin-top: 43px;

}

.Section2-item2 {
    width: 771.64px;
    height: 422.38px;
    background: linear-gradient(90deg, rgba(210, 70, 158, 0.2) 0.78%, rgba(75, 213, 207, 0.2) 100.02%);
    mix-blend-mode: normal;
    border-radius: 10.3525px;
    margin-top: 39px;
    border-bottom: 15px solid #EA3498;;
}

.item1-block {
    padding: 35px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1-block h4 {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 200;
    font-size: 33.128px;
    line-height: 107%;
    letter-spacing: 6.2115px;
    color: #FFFFFF;
    opacity: 1;
}

.item1-block .active {
    width: 112.67px;
    padding: 10px 14px;
    background: #EA3498;
    opacity: 0.9;
    box-shadow: 0px -62.115px 144.935px 186.345px rgba(234, 52, 151, 0.06);
    border-radius: 10.3525px;
    color: #FFFFFF;
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 700;
    font-size: 24.846px;
    line-height: 25px;

}

.price {
    padding: 0 45px;
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 700;
    font-size: 53.833px;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 0.301164px;
    text-shadow: -3px -4px 1px #EA3498, 3px 3px 1px rgb(25, 225, 242);
    ;
    color: #FFFFFF;
    opacity: 0.8;
}

.Section2-item1-items {
    padding: 0 67px 0 41px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    justify-content: space-between;
}

.items-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items-box:nth-child(2) {
    margin-top: 16px;
}

.bx {
    /* margin: 0 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 86px;
    background: linear-gradient(121.47deg, rgba(210, 70, 158, 0.83) 0%, rgba(75, 213, 207, 0.83) 106.69%);
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 10.3525px;
}

.plus {
    /* margin: 0 0 0 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100.23px;
    height: 86px;
    background: linear-gradient(134.2deg, #EA3498 -2.74%, #A6075E 95.67%);
    mix-blend-mode: normal;

    border-radius: 10.3525px;
}

.empty {
    /* margin: 0 3px; */
    width: 100.23px;
    height: 86px;
    background: linear-gradient(121.47deg, rgba(210, 70, 158, 0.83) 0%, rgba(75, 213, 207, 0.83) 106.69%);
    mix-blend-mode: normal;
    opacity: 0.2;
    border-radius: 10.3525px;
}

.item2-block {
    padding: 35px 45px 0;
}

.item2-block h4 {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 200;
    font-size: 33.128px;
    line-height: 107%;
    letter-spacing: 6.2115px;
    color: #FFFFFF;
    opacity: 1;
}

.flex-section2 {
    padding: 10px 45px;
    display: flex;
    align-items: center;
}

.flex-section2-img img {
    width: 435px;
}

.items {
    padding: 10px 0;
}

.items h6 {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 500;
    font-size: 26.9165px;
    line-height: 31px;
    letter-spacing: 1.92261px;
    color: #FFFFFF;
    opacity: 0.8;
}

.items button {
    font-family: 'Nippo';
    font-style: normal;
    font-weight: 700;
    font-size: 33.128px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.9;
    background: rgba(210, 69, 158, .2);
    mix-blend-mode: normal;
    padding: 8px 15px;
    outline: none;
    border: none;
}

.Section2-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}